@media(max-width:900px){
    #ms{
        width:100% ;
        height:230px;
    }
    .glow {
            margin-top:10px;
            margin-left:20px;
            font-size: 30px;
    }
    #nav li{
        display: none;
    }
    #nav{
        margin-left: 0;
    }
    
    #ab{
    color: white;
    font-size:x-large;
    text-align: center;
    }
    form{
    color: white;
    padding: 10px;
    }
    form input{
    display: none;
    margin: 0;
    }
    span{
    padding-left:10px;
    padding-top:100px;
    font-size:larger;
    }
    #copy{
    padding-bottom: 10px;
    font-size: large;
    }
    
    #icn{
        display: flex;
        flex-direction: column;
        padding-left: 30px;
        padding-top: 20px;

    }    
    #spn::before {
        font-size: 20px;
    }
    #spn{
        margin-left:130px;
    }
    #aboutt{
        text-align: center;    
    }
    #txt p{
        font-size: large;
        margin-top: 20px;
        margin-left: 10px;
    }
    #txt h1{
        font-size: x-large;
        margin-top: 50px;
        margin-left: 20px;  
    }
     
    #ab u,#nmb u{
        font-size: x-large;

    }
    #skills u,#about u{
        margin-left: 100px;
        font-size: xx-large;
    }
    
    #skills div{
        color: white;
        font-size:large;
        padding: 10px;
        margin-left: 30px;
    }
    #txt b{
        margin-left:30px;
        font-size: x-large;
        margin-top: -20px;
    }
    #abt{
        display: flex;
        flex-direction: column;
    }
    #mgg{
        height: 500px;
        width: 90%;
        border: 5px solid white;
        border-radius: 50px;
    }
    .info{
    border: 2px solid white;
    border-radius: 10px;
    padding: 10px;
    }
    .soc{
        border: 2px solid white;
        border-radius: 10px;
        padding: 10px;

    }
    #very{
        display: none;
    }

}
