
html{
    scroll-behavior: smooth;
}
body{
    background-color: black;
}
#ms{
    width:100% ;
    height:100vh;
    background-image: url(IMG_3910.jpeg);
    background-repeat: no-repeat;
    background-size:cover;


    

}
.glow {
        margin-top:120px;
        margin-left: 500px;
        font-size: 80px;
        text-align:left;
        color: white;
        animation: glow 2s ease-in-out infinite alternate;
}

@keyframes glow {
        from {
            /* text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px aqua, 0 0 40px aqua, 0 0 50px aqua, 0 0 60px aqua, 0 0 70px aqua; */
            text-shadow: 0 0 0 0 white;
        }
        
        to {
            text-shadow: 0 0 20px red, 0 0 30px aqua, 0 0 40px aqua, 0 0 50px aqua, 0 0 60px aqua, 0 0 70px aqua, 0 0 80px aqua;
        }
}
#nav{
margin-left:480px;
padding: 10px;

}
li{
display: inline block;
padding: 20px;
list-style: none;
text-align: center;
}
ul{
display: flex;
}
li a{
text-decoration: none;
font-size: x-large;
color: white;
position: relative;
padding: 5px 0;
font-family: Arial, Helvetica, sans-serif;
}
#alexx{
    font-size: xx-large;
    font-family: 'Times New Roman', Times, serif;
    font-style:oblique;

}
#nav ul li a:hover{
color:black;
}
#nav ul li a:after{
content: "";
position: absolute;
left: 0;
width: 0;
height: 3px;
background:white;
transition: .3s;
bottom: 0;
}
#nav ul li a:hover:after{
width: 100%;
}
#ab{
color: white;
font-size: 50px;
text-align: center;
}
form{
color: white;
padding: 10px;
}
form input{
margin-left: 250px;
}

span{
padding-left: 250px;
font-size: xx-large;

}
input{
background-color: transparent;
color: white;
padding: 10px;
margin: 30px;
font-size: xx-large;
}

.foot{
color: white;
text-align: center;
}
a{
text-decoration: none;
color: white;
}
#copy{
padding-bottom: 100px;
/* font-family: 'Times New Roman', Times, serif; */
font-size: xx-large;
font-style: italic;
}
#nmb{
padding-top:50px ;
font-size: xx-large;
font-family: Arial, Helvetica, sans-serif;
padding-bottom: 20px;
}
#icn{
font-size: x-large;
padding-left: 30px;
}
u{
 text-decoration-style:wavy ;
 padding: 2px;
 text-decoration-color: red;
 
}
::selection{
background: black;
color: white;
}
#spn::before {
    content: "";
    animation: animate infinite 3s;
    animation-delay: 5s;
    color: white;
    font-size: 80px;
}
#spn{
    margin-left: 215px;


}

@keyframes animate {

    0% {
        content: "Programmer";
    }
    50% {
        content: "Entrepreneur";
    }
    75% {
        content: "Developer";
    }
}
#smt{
    margin-left: 335px;
}
#abt{
    display: flex;
    font-size: xx-large;
    color: white;
    font-family: 'Times New Roman', Times, serif;
}
#aboutt{
    text-align: center;
    
}
#aboutt img{
    margin-left: 100px;
    margin-top: 100px;
}

#txt p,#txt h1{            
    margin-top: 200px;
    margin-left:100px;

}
 u{ 
    /* margin-left: 600px; */
    font-size: xx-large;
    color: white;
    font-family: 'Times New Roman', Times, serif;
}
#ab u,#nmb u{
    text-align: center;
    font-size: xxx-large;
}
#skills u,#about u{
    margin-left: 600px;
    font-size: xxx-large;


}

#skills div{
    color: white;
    font-size: xx-large;
    padding: 10px;
}
#txt b{
    border: 2px solid white;
    margin-left:200px;
    border-radius: 10px;
    padding: 5px;
}
.word {
    margin: auto;
    color: white;
    font: 700 normal 2.5em 'tahoma';
    text-shadow: 5px 2px #222324, 2px 4px #222324, 3px 5px #222324;
  }
#txt hr{
    color:red;
    
    }
